
<title>Home | Add Address</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
<style>
    .profile-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.profile-grid {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 30px;
}

.profile-sidebar {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
}

.profile-card {
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-left: 29%;
}

.profile-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-menu li {
  padding: 14px 20px;
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
  font-weight: 500;
}

.profile-menu li.active {
  background: #f9f9f9;
  color: #ff3c3c;
}

.profile-menu li.danger {
  color: #ff3c3c;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: -20px;
}

.profile-box {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  border: 1px solid #eee;
}

.profile-box h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.info-grid label {
  font-size: 13px;
  color: #888;
}

.form-box {
  max-width: 800px;
  margin: 20px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.form-group small {
  font-size: 12px;
  color: #999;
}

.btn-primary {
  background: #ff3c3c;
  color: #fff;
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

</style>

 <%- include('../partials/user/header.ejs') %>


<section class="profile-container">
  <div class="profile-grid">

    <!-- LEFT SIDEBAR -->
    <aside class="profile-sidebar">
      <div class="profile-card">
        <img src="/uploads/profile/<%= user.profileImage %>"  alt="User" class="profile-avatar">
        <h3><%= user.name%></h3>
        <p><%= user.email%></p>
      </div>

      <ul class="profile-menu">
        <li ><a href="/user-profile">Profile</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/orders">Orders</a></li>
        <li class="active"><a href="/address">Addresses</a></li>
        <li><a href="/edit-profile">Edit Profile</a></li>
        <li><a href="/change-password">Change Password</a></li>
        <li><a href="/change-email">Change Email</a></li>
        <li class="danger"><a href="/logout">Logout</a></li>
      </ul>
    </aside>

    <!-- MAIN CONTENT -->
   <section class="profile-content">

      <div class="profile-box">
        <h2>Add New Address</h2>

        <form action="/address/add" method="POST" class="form-box">

          <div class="form-group">
            <label>Address Type</label>
            <input type="text" name="addressType" placeholder="Home / Office" required>
          </div>

          <div class="form-group">
            <label>Full Name</label>
            <input type="text" name="name" required>
          </div>

          <div class="form-group">
            <label>House Name / Flat</label>
            <input type="text" name="houseName" required>
          </div>

          <div class="form-group">
            <label>Place</label>
            <input type="text" name="place" required>
          </div>

          <div class="form-group">
            <label>City</label>
            <input type="text" name="city" required>
          </div>

          <div class="form-group">
            <label>District</label>
            <input type="text" name="district" required>
          </div>

          <div class="form-group">
            <label>State</label>
            <input type="text" name="state" required>
          </div>

          <div class="form-group">
            <label>Pincode</label>
            <input type="number" name="pincode" required>
          </div>

          <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" required>
          </div>

          <div class="form-group">
            <label>Alternate Phone</label>
            <input type="text" name="altPhone" required>
          </div>

          <button type="submit" class="btn-primary">
            Save Address
          </button>

        </form>
      </div>

    </section>

</div>
</section>


 <%- include('../partials/user/footer.ejs') %>

