

<title>Home | Change Password</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/edit-password.css">

 <%- include('../partials/user/header.ejs') %>


<section class="profile-container">
  <div class="profile-grid">

    <!-- LEFT SIDEBAR -->
    <aside class="profile-sidebar">
      <div class="profile-card">
        <img src="/uploads/profile/<%= user.profileImage %>"  alt="User" class="profile-avatar">
        <h3><%= user.name%></h3>
        <p><%= user.email%></p>
      </div>

      <ul class="profile-menu">
        <li><a href="/user-profile">Profile</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/address">Addresses</a></li>
        <li><a href="/wallet">Wallet</a></li>
        <li><a href="/edit-profile">Edit Profile</a></li>
        <li class="active"><a href="/change-password">Change Password</a></li>
        <li><a href="/change-email">Change Email</a></li>
        <li class="danger"><a href="/logout">Logout</a></li>
      </ul>
    </aside>

    <!-- MAIN CONTENT -->
    <div class="profile-content">
<div class="profile-box form-box">
    <h2>Change Password</h2>

    <form id="changeForm">
      <div class="form-group">
        <div id="errMsg" class="error-message"></div>
        <label>Current Password</label>
        
        <input type="password" id="current-password" name="current_password">
        <input type="hidden" id="oldPassword" value="<%=user.password%>">
        <div id="error1" class="error-message1"></div>
      </div>

      <div class="form-group">
        <label>New Password</label>
        <input type="password" id="new-password" name="new_password">
        <div id="error2" class="error-message1"></div>
      </div>

      <div class="form-group">
        <label>Confirm New Password</label>
        <input type="password" id="confirm-password" name="confirm_password">
        <div id="error3" class="error-message1"></div>
      </div>

      <div class="forgot-password">
                <a href="/forgot-password">Forgot Password?</a>
            </div>
      <button class="btn-primary">Update Password</button>
    </form>
  </div>
  </div>
</section>




 <%- include('../partials/user/footer.ejs') %>

<script src="/js/edit-password.js"></script>



