

<title>Home | Edit Profile</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/edit-profile.css">

 <%- include('../partials/user/header.ejs') %>


<section class="profile-container">
  <div class="profile-grid">

    <!-- LEFT SIDEBAR -->
    <aside class="profile-sidebar">
      <div class="profile-card">
        <img src="/uploads/profile/<%= user.profileImage %>"  alt="User" class="profile-avatar">
        <h3><%= user.name%></h3>
        <p><%= user.email%></p>
      </div>

      <ul class="profile-menu">
        <li ><a href="/user-profile">Profile</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/address">Addresses</a></li>
        <li><a href="/wallet">Wallet</a></li>
        <li class="active"><a href="/edit-profile">Edit Profile</a></li>
        <li><a href="/change-password">Change Password</a></li>
        <li><a href="/change-email">Change Email</a></li>
        <li class="danger"><a href="/logout">Logout</a></li>
      </ul>
    </aside>

    <!-- MAIN CONTENT -->
    <div class="profile-content">
 <div class="profile-box form-box">
    <h2>Edit Profile</h2>
<form action="/edit-profile" method="POST" enctype="multipart/form-data">

  <div class="form-group text-center">
    <img 
      src="/uploads/profile/<%= user.profileImage %>" 
      class="profile-avatar"
      style="margin: 0 auto 15px"
    >

    <input type="file" name="profileImage" accept="image/*">
  </div>

  <div class="form-group">
    <label>Full Name</label>
    <input type="text" name="name" value="<%= user.name %>">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" value="<%= user.email %>" disabled>
    <small>Email change requires verification</small>
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input type="text" name="mobile" value="<%= user.mobile %>">
  </div>

  <button class="btn-primary">Save Changes</button>
</form>

  </div>
  </div>
</section>




 <%- include('../partials/user/footer.ejs') %>