<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Forever</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/home.css" />

    <script src="/js/header.js" defer></script>
  </head>
  <body>
    <%- include('../partials/user/header.ejs') %>

    <section class="hero">
      <img src="images/hero.png" alt="Hero Banner" />
    </section>

    <section class="product spad">
      <div class="container">
        <div class="d-flex justify-content-center">
          <h2 class="section-title">NEW ARRIVALS</h2>
        </div>

        <div class="row">
          <% for (let i = 0; i < products.length; i++) { %>
          <div class="col-6 col-md-4 col-lg-1-5 mb-4">
            <div class="product-cart-wrap">
              <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                  <a href="/product-details?id=<%= products[i]._id %>">
                    <img
                      class="img-fluid default-img"
                      src="/uploads/image/<%= products[i].productImage[0] %>"
                      alt="<%= products[i].productName %>"
                    />
                  </a>
                </div>

                <button 
  class="wishlist-btn"
  onclick="toggleWishlist('<%= products[i]._id %>', this.querySelector('i'))"
>

                  <i class="<%= wishlistItems.includes(products[i]._id.toString()) 
  ? 'fas fa-heart wishlist-active' 
  : 'far fa-heart' %>">
</i>
                </button>
              </div>

              <div class="product-content-wrap">
                <h6><%= products[i].productName %></h6>
               <h5>
  <% if (products[i].discountPercent > 0) { %>
    <span class="original-price">
      ₹<%= products[i].variants[0].originalPrice %>
    </span class="final-price"  >
    ₹<%= products[i].finalPrice %>
  <% } else { %>
    ₹<%= products[i].finalPrice %>
  <% } %>
</h5>

               <button
  class="add-to-cart-btn"
  onclick="handleAddToCart('<%= products[i]._id %>', '<%= JSON.stringify(products[i].variants || []) %>')"
>

                  Add to Cart
                </button>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>

    <%- include('../partials/user/footer.ejs') %>


<div id="sizeModal" class="size-modal">
  <div class="size-modal-content">
    <h5>Select Size</h5>

    <div id="sizeOptions" class="mb-3"></div>

    <div id="variantDetails" class="variant-details mb-3" style="display:none;">
      <p><strong>Price:</strong> ₹ <span id="selectedPrice"></span></p>
      <p><strong>Stock:</strong> <span id="selectedStock"></span></p>
    </div>

    <button onclick="confirmSize()">Confirm</button>
  </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/js/home.js"></script>
  </body>
</html>
