<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>My Orders | Forever</title>

  <link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/orders.css">
  

</head>

<body>

<%- include('../partials/user/header.ejs') %>

<section class="profile-container">
  <div class="profile-grid">

    <!-- LEFT SIDEBAR -->
    <aside class="profile-sidebar">
      <div class="profile-card">
        <img src="/uploads/profile/<%= user.profileImage %>"  alt="User" class="profile-avatar">
        <h3><%= user.name%></h3>
        <p><%= user.email%></p>
      </div>

      <ul class="profile-menu">
        <li ><a href="/user-profile">Profile</a></li>
        <li><a href="/cart">Cart</a></li>
        <li class="active"><a href="/orders">Orders</a></li>
        <li><a href="/address">Addresses</a></li>
        <li><a href="/wallet">Wallet</a></li>
        <li><a href="/edit-profile">Edit Profile</a></li>
        <li><a href="/change-password">Change Password</a></li>
        <li><a href="/change-email">Change Email</a></li>
        <li class="danger"><a href="/logout">Logout</a></li>
      </ul>
    </aside>

<section class="orders-wrapper">

  <h2 class="orders-title">My Orders</h2>

  <% if (orders.length === 0) { %>
    <div class="empty-orders">
      <h3>No orders found</h3>
      <p>Looks like you haven’t placed any orders yet.</p>
    </div>
  <% } else { %>

  <table class="orders-table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Status</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% orders.forEach(order => { %>
        <tr>
          <td><strong><%= order.orderId %></strong></td>

          <td>
            <%= order.createdAt.toDateString() %>
          </td>

          <td>
            <span class="status <%= order.orderStatus.toLowerCase() %>">
              <%= order.orderStatus %>
            </span>
          </td>

          <td>₹ <%= order.priceDetails.total %></td>

          <td>
            <a href="/orders/<%= order.orderId %>" class="view-btn">
              View Details
            </a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <% } %>

</section>

  </div>
</section>

<%- include('../partials/user/footer.ejs') %>

</body>
</html>
