
<title>Home | Change Email</title>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/otp-page.css">
  


 <%- include('../partials/user/header.ejs') %>


<section class="profile-container">
  <div class="profile-grid">

    <!-- LEFT SIDEBAR -->
    <aside class="profile-sidebar">
      <div class="profile-card">
        <img src="/uploads/profile/<%= user.profileImage %>"  alt="User" class="profile-avatar">
        <h3><%= user.name%></h3>
        <p><%= user.email%></p>
      </div>

      <ul class="profile-menu">
        <li class="active"><a href="/user-profile">Profile</a></li>
        <li>Orders</li>
        <li><a href="/address">Addresses</a></li>
        <li><a href="/edit-profile">Edit Profile</a></li>
        <li><a href="/change-password">Change Password</a></li>
        <li><a href="/change-email">Change Email</a></li>
        <li class="danger"><a href="/logout">Logout</a></li>
      </ul>
    </aside>

    <!-- MAIN CONTENT -->
    <div class="profile-content">
<div class="profile-box form-box">
    <h2>Enter OTP</h2>

     <form action="/verify-otp-email" method="POST" class="auth-form" onsubmit="return validateOTPForm()">
          <label for="otp" class="auth-label"></label>

          <div class="otp-inputs" id="otp">
            <input type="text" maxlength="1" name="otp1" required />
            <input type="text" maxlength="1" name="otp2" required />
            <input type="text" maxlength="1" name="otp3" required />
            <input type="text" maxlength="1" name="otp4" required />
            <input type="text" maxlength="1" name="otp5" required />
            <input type="text" maxlength="1" name="otp6" required />
          </div>

          <p class="otp-timer">
            Resend OTP in : <span id="timer">60</span> sec
          </p>

          <button type="submit" class="btn-primary">Verify OTP</button>

          <button type="button" id="resendBtn" class="btn-link" onclick="resendOtp()" disabled>
            Resend OTP
          </button>
        </form>
  </div>
  </div>
</section>




 <%- include('../partials/user/footer.ejs') %>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/js/email-otp.js"></script>