<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Wishlist | Forever</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/css/wishlist.css">
  


</head>

<body>
<%- include('../partials/user/header.ejs') %>
<section class="wishlist-container">

  <h2 style="margin-bottom:20px;">My Wishlist</h2>

  <% if (products.length > 0) { %>

    <table class="wishlist-table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Name</th>
          <th>Price</th>
          <th>Add to Cart</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>

        <% products.forEach(p => { %>
          <tr>
            <td>
              <img src="/uploads/image/<%= p.productImage[0] %>" alt="">
            </td>

            <td><%= p.productName %></td>

            <td>₹ <%= p.finalPrice %></td>

            <td>
               <button
                  class="add-cart"
        onclick='handleAddToCart(
  "<%= p._id %>",
  <%- JSON.stringify(p.variants || []) %>
)'

                >
                  Add to Cart
                </button>
            </td>

            <td>
              <button class="remove-btn"
                      onclick="removeWishlist('<%= p._id %>')">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        <% }) %>

      </tbody>
    </table>

  <% } else { %>

    <div class="empty-wishlist">
      <h3>Your wishlist is empty</h3>
    </div>

  <% } %>

</section>


<%- include('../partials/user/footer.ejs') %>



<div id="sizeModal" class="size-modal">
  <div class="size-modal-content">
    <h5>Select Size</h5>

    <div id="sizeOptions" class="mb-3"></div>

    <div id="variantDetails" class="variant-details mb-3" style="display:none;">
      <p><strong>Price:</strong> ₹ <span id="selectedPrice"></span></p>
      <p><strong>Stock:</strong> <span id="selectedStock"></span></p>
    </div>

    <button onclick="confirmSize()">Confirm</button>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="/js/wishlist.js"></script>
  
</body>
</html>
